    body {text-align: center;}
    
h1{color: brown;}
p{height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: aquamarine;
    text-align: center;
    padding-left: 10px; 
    padding-top: 15px;
    margin-left: 650px;


}
